# 使用全链接神经网络进行训练

## 1 导入数据

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_csv("../../kaggle/LosAngelesHousePricesForecast/data/train_1.csv")
if 'Unnamed: 0' in train.columns: 
    train = train.drop(['Unnamed: 0'], axis=1)
y = train["SalePrice"]
train1 = train.drop(["Id", "SalePrice"], axis=1)
X = pd.get_dummies(train1).reset_index(drop=True)
X_train, X_test, y_train, y_test = tts(X,y,test_size=0.2)

In [3]:
X.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

### 评估函数

In [4]:
def benchmark(model):
    pred = model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, pred))
    logrmse = np.sqrt(mean_squared_error(np.log(y_test), np.log(pred)))
    print("RMSE: {} \nLOGRMSE: {}".format(rmse, logrmse))
    return rmse, logrmse

## 2 模型训练

In [5]:
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import metrics
from keras import backend as K
from keras.wrappers.scikit_learn import KerasRegressor

Using TensorFlow backend.

In [6]:
keras.__version__

'2.2.4'

In [7]:
tf.__version__

'1.12.0'

In [8]:
def create_model():
    model = Sequential()
    model.add(Dense(10, input_dim=X_train.shape[1], activation="relu"))
    model.add(Dense(30,activation="relu"))  
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
model = create_model()

In [10]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                3040
_________________________________________________________________
dense_2 (Dense)              (None, 30)                330
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 31
=================================================================
Total params: 3,401
Trainable params: 3,401
Non-trainable params: 0
_________________________________________________________________

In [11]:
history = model.fit(X_train, y_train, epochs=500, batch_size=32, verbose=0)

In [12]:
benchmark(model)

RMSE: 38738.629487887745
LOGRMSE: 0.20447055236631348

(38738.629487887745, 0.20447055236631348)

In [27]:
def create_model():
    model = Sequential()
    model.add(Dense(10, input_dim=X_train.shape[1], activation="relu"))
    model.add(Dense(300, activation="relu"))
    model.add(Dropout(0.2))
    model.add(Dense(60, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [28]:
model = create_model()

In [29]:
model.fit(X_train, y_train, epochs=2000, batch_size=32, verbose=0)

In [30]:
benchmark(model)

RMSE: 26737.87038210759
LOGRMSE: 0.15616816643533335

(26737.87038210759, 0.15616816643533335)

In [14]:
# import matplotlib.pyplot as plt 
# %matplotlib inline
# plt.plot(history.history['loss'])
# plt.plot(history.history['val_loss'])
# plt.show()

In [15]:
def create_model():
    model = Sequential()
    model.add(Dense(10, input_dim=X_train.shape[1], activation="relu"))
    model.add(Dense(300, activation="relu"))
    model.add(Dropout(0.2))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
model = create_model()

In [17]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 10)                3040
_________________________________________________________________
dense_5 (Dense)              (None, 300)               3300
_________________________________________________________________
dropout_1 (Dropout)          (None, 300)               0
_________________________________________________________________
dense_6 (Dense)              (None, 50)                15050
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 51
=================================================================
Total params: 21,441
Trainable params: 21,441
Non-trainable params: 0
_________________________________________________________________

In [18]:
history = model.fit(X_train, y_train, epochs=2020, batch_size=32, verbose=0)

In [19]:
benchmark(model)

RMSE: 27182.022176278784
LOGRMSE: 0.13241749476160927

(27182.022176278784, 0.13241749476160927)

In [20]:
model=create_model()
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=3350,batch_size=32,verbose=0)

In [21]:
benchmark(model)

RMSE: 31665.02579389985
LOGRMSE: 0.14228086659366299

(31665.02579389985, 0.14228086659366299)